@model IEnumerable<SparesShop2.Models.Character>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="d-flex justify-content-center" style="font-weight: bold;">Список всех категорий</h2>
@if (User.IsInRole("Admin"))
{
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" asp-controller="Characters" asp-action="Create">Добавить категорию</a>
    </div>
                    
}   

<div class="row row-cols-1 row-cols-md-4">
@foreach (var item in Model) {
    <div class="card" style="width: 15rem; background-color: #c6bdbd; font-weight: bold; margin-right: 20px;">
    <div class="card-body">
        <a  style="font-size: 20px !important;" class="d-flex justify-content-center" asp-controller="Characters" asp-action="ShowSparesCatefory" asp-route-characterId="@item.Id">@item.Name</a>
        <p style="margin-bottom: 0; font-size: 15px; color: #524c4c !important;">Количество: @item.Spares.ToList().Count()</p>        
     </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="card-footer">
            <a  class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
            <a  class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>            
    }
</div>     
}
</div>


